*{
    color:white;
}
.produtos{
    width: 95%;
}
.categoria{
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.3;
}
.descri-categoria{
    color: #777;
    font-size: 14px;
    
}
.nome-jogo, .preco-jogo, .plataforma-jogo{
    --bs-gutter-x: 0;

}

.cronometro{
    margin-top: 10px;
    color: grey;
}
.desconto{
    display: block;
    font-size: 100%;
    font-weight: bold;  
    border-width: 1px;
    border-color: gray;
    background: #ff6666;
    color: #fff;
}
.desconto:hover{
    background: #ff6666;
}
.comprar{
    display: block;
    font-size: 100%;
    font-weight: bold;  
    border-width: 1px;
    border-color: #585b5f;
    background: #384657;
    color: #fff;
}
.comprar:hover{
    font-size: 13px;
    font-weight: bold;  
    border-width: 1px;
    border-color: #09c;
    background: #384657;
    color: #fff;
}
.produto{
    background-color:#425164;
    height:100%;
    border-radius: 8px;
    display:flex;
    flex-direction: column;
    margin-top: 1%;
    padding: 0;
}
.img-jogo1{
    height: 45%;
    border-radius: 8px;
    
}
.img-jogo2{
    height: 45%;
    
}
.img-jogo3{
    height: 45%;
    
}
.img-jogo4{
    height: 45%;
    
}
.img-jogo5{
    height: 45%;
    
}
.descricao-jogo{
    height: 55%;
}
.carrossel{
    display:flex;
    flex-direction: column;
    width:100%;
    align-items: center;
}
.botao-slide-left, .botao-slide-right{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 508px;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}
.botao-slide-left{
    left: -4%;
    justify-content: flex-start;
}
.botao-slide-right{
    right: -4%;
    justify-content: flex-end;
}
.banner-principal{
    width: 70%;
    
}
.banner-secundario{
    width: 30%;
}
.item-banner-secundario{
    width: 100%;
    height: 50%;
}
body{
    background-color:rgb(21, 29, 39);
}
header{
    font-family: "Open Sans",Arial,Helvetica;
    border-bottom: 1px solid #1d2631;
    background: #151d27;
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 30%);
    position: fixed;
    z-index: 2;
}
.ver-mais{
    font-size: 13px;
    font-weight: bold;  
    border-width: 1px;
    border-color: #09c;
    background: rgba(0,153,204,.7);
    color: #fff;
}

.menu{
    height: 100%;
}
.link{
    display: block;
    height: 100%;
    color:white;
    font-size: 20px!important;
    text-decoration: none;
    margin-bottom: 2%;
}
.link-canvas{
    display: flex;
    height: 100%;
    color:white;
    font-size: 1.5em;
    text-decoration: none;
    
}
.input-search{
    background-color: #263241;
    border: none;
}
.btn-search{
    background-color: #263241;
    border: none;
    background-image: url(../imagens/lupa.png);
    background-size: 1.5em;
    background-repeat: no-repeat;
    height: 1.5em;
    width: 1.5em;
    display: inline-block;
}
.promo::before{
    content: "";
    background-image: url(../imagens/promocao-cinza.png);
    background-size: 1.5em;
    display: inline-block;
    margin-right: 10px;
    width: 1.5em;
    height: 1.5em;
}
.pc::before{
    content: "";
    background-image: url(../imagens/pc-cinza.png);
    background-size: 1.5em;
    display: inline-block;
    margin-right: 10px;
    width: 1.5em;
    height: 1.5em;
}
.playstation::before{
    content: "";
    background-image: url(../imagens/playstation-cinza.png);
    background-size: 1.5em;
    display: inline-block;
    margin-right: 10px;
    width: 1.5em;
    height: 1.5em;
}
.xbox::before{
    content: "";
    background-image: url(../imagens/xbox-cinza.png);
    background-size: 1.5em;
    display: inline-block;
    margin-right: 10px;
    width: 1.5em;
    height: 1.5em;
}
.nintendo::before{
    content: "";
    background-image: url(../imagens/nintendo-cinza.png);
    background-size: 1.5em;
    display: inline-block;
    margin-right: 10px;
    width: 1.5em;
    height: 1.5em;
}
.icon-brand{
    margin-right: 10px;
}
.entrar::before, .entrar-canvas::before{
    content: "";
    background-image: url(../imagens/Entrar-cinza.png);
    background-size: 1.5em;
    display: inline-block;
    margin-right: 10px;
    width: 1.5em;
    height: 1.5em;
}
.mais::before{
    content: "";
    background-image: url(../imagens/tres-pontos.png);
    background-size: 1.5em;
    display: inline-block;
    margin-right: 10px;

    width: 1.5em;
    height: 1.5em;
}
.offcanvas-body, .offcanvas-header{
    background-color:#151d27;
    
}
.offcanvas{
    padding: 0;
}

.menu-hamburguer{
    background: #151d27;
    border-radius: 5px;
    border: none;
    display:none;
}
.menu-hamburguer:hover{
    background-color: #263241;
}
.divisor{
    background-color: black;
    height: 2px;
}
footer{
    background-color: #010610
}
.direitos{
    color: white;
    text-decoration: none;
}
.legal a{
    color: grey;
    text-decoration: none;
    
}
.legal li{
    list-style-type: none;
}
.sociais a{
    padding: 4px 0;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}
.social-ig{
    font-size: 22px !important;
}
.div-social{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #263241;

}
.links-uteis a{
    color: gray;
    text-decoration: none;
    font-size: 12px;
}
.endereco p{
    color: gray;
    text-decoration: none;
    font-size: 12px;
}
.social-face::before{
    content: "";
    background-image: url(../imagens/social-face.png);
    background-size: 1em;
    display: inline-block;
    margin:0 2px;
    width: 1em;
    height: 1em;
}
.social-tw::before{
    content: "";
    background-image: url(../imagens/social-twitter.png);
    background-size: 1em;
    display: inline-block;
    margin:0 2px;
    width: 1em;
    height: 1em;
}
.social-yt::before{
    content: "";
    background-image: url(../imagens/social-yt.png);
    background-size: 1em;
    display: inline-block;
    margin:0 2px;
    width: 1em;
    height: 1em;
}
.social-ig::before{
    content: "";
    background-image: url(../imagens/social-insta.png);
    background-size: 1em;
    display: inline-block;
    margin:0 2px;
    width: 1em;
    height: 1em;
}
.social-roxa::before{
    content: "";
    background-image: url(../imagens/social-twitch.png);
    background-size: 1em;
    display: inline-block;
    margin:0 2px;
    width: 1em;
    height: 1em;
}
.social-disc::before{
    content: "";
    background-image: url(../imagens/social-disc.png);
    background-size: 1em;
    display: inline-block;
    margin:0 2px;
    width: 1em;
    height: 1em;
}
.acompanhe{
    display: flex;
    justify-content: flex-start;
}
.escondido{
    display: none;
}


@media (max-width: 1399px) {
    .botao-slide-left, .botao-slide-right{
        height: 438px;
    }
}

@media (max-width: 1250px){
    .menu .link, .search, .menu, .entrar{
        display:none !important;
    }
    .botao-slide-left, .botao-slide-right{
        height: 367px;
    }
    .div-hamburguer{
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    .menu-hamburguer{
        display: block;
        width:30%;
    }
}
@media (max-width: 991px) {
    .botao-slide-left, .botao-slide-right{
        height: 273px;
    }
    .carreiras, .desenvolvedores, .envie-jog{
        display: none;
    }
    .acompanhe{
        justify-content: center;
    }
    .produto{
        margin-right: 25px;
        margin-bottom: 1%;
    }
    .produtos{
        justify-content: flex-start!important;
    }
    .escondido{
        display: block;
    }
}
@media (max-width: 768px) {
    .botao-slide-left, .botao-slide-right{
        height: 202px;
    }
    .escondido{
        display: none;
    }
}
@media (max-width: 550px) {
    .menu-hamburguer{
        width:50%;
    }
}